{%- macro bs_nav_items(navs=None) -%}
{% if navs is none -%}
    {% set navs = [] -%}
{% endif -%}
{% for nav in navs -%}
    {% set a_atts = {} -%}
    {% if nav.tooltip -%}
        {% do a_atts.update({
            'data-toggle': 'tooltip',
            'data-placement': 'bottom',
            'data-html': 'false',
            'title': nav.tooltip
        }) -%}
    {% endif -%}
    {% if nav.atts is defined -%}
        {% do a_atts.update(nav.atts) -%}
    {% endif -%}
    {% if nav.url is defined -%}
        {% do a_atts.update({'href': nav.url}) -%}
    {% else -%}
        {% do tpl.add_css_classes_to_dict(a_atts, 'disabled') -%}
    {% endif -%}
    {% do tpl.add_css_classes_to_dict(a_atts, 'nav-link') -%}
    <li class="nav-item"><a{{ tpl.json_flatatt(a_atts) }}>{{ nav.text }}</a></li>
{% endfor -%}
{% endmacro -%}
{% if _render_ -%}
    {{ bs_nav_items(navs) }}
{% endif -%}

